/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
cần phải xác định:
1. ví trí
2. kích thước(width, height)
3. màu sắc
4. kiểu dáng(kiểu chữ, hình dáng,...)
*/

/* thứ tự thực hiện
1. từ ngoài vào trong
2. từ trên xuống dưới
3. từ tông quan đến chi tiết
 */

 /* những css dùng chung */
 .clear{
    clear: both;
 }

 /* HÀNG */
 .row{
    margin-left: -8px;
    margin-right: -8px;
 }

 .row::after{
    content: "";
    display: block;
    clear: both;
 }

 /* CỘT */
 .col{
    float: left;
    padding: 0px 8px;
 }

 .col-full{
    width: 100%;
 }
.col-half{
    width: 50%;
}
 .col-three{
    width: calc(100% / 3);
 }

 .text-center{
    text-align: center;
 }
/* fix lỗi float */


/* MAIN  */
.full{

}

.header{
    width: 100%;
    height: 46px;
    background-color: black;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav{
    display: inline-block;
}
.nav > li{
    display: inline-block;
    /* hiển thị các phần tử được gán xuất hiện trên cùng 1 dòng với các phần tử inline khác */
}

.nav li{
    /* hiển thị các phần tử được gán xuất hiện trên cùng 1 dòng với các phần tử inline khác */
    position: relative;
}

/* chỉ thẳng vào những thăng li cấp 1 để tách biệt với thằng li cấp 2(chứa subnav) */
.nav > li > a{
    color: white;
    text-transform: uppercase;
    line-height: 46px;
    padding: 0 24px;
}
.nav li a{
    text-decoration: none;


    display: block;
    
}
/* chỉ thẳng vào thằng li cấp 1 */
.nav > li:hover > a{
    color: black;
    background-color: #ccc;
}

.nav li:hover .subnav{
    /* áp các thuộc tính vào thằng subnav */
    display: block;
}
.subnav li:hover a{
    color: black;
    background-color: #ccc;
}

.subnav{
    display: none;
    /* ẩn đóio tượng được chọn */
    min-width: 160px;
    position: absolute;
    background-color: white;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

.icon{
    font-size: 12px;
}   

.header .search{
    float: right;
    padding: 0 21px;
}
.header .search:hover{
    background-color: red;
    cursor: pointer;
    /* thay đổi con trỏ chuột từ mũi tên thành bàn tay */
}
.header .icons{
    color: white;
    font-size: 20px;
    line-height: 46px;
}
.slide{    
    margin-top: 46px;
    padding-top: 50%;
    /* tức là 50% tỉ lệ chiều ngang của chính nó */
    background-image: url('/web_theBand/assests/img/slider/slider1.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: url('/web_theBand/assests/img/slider/slider1.jpg') center top / cover no-repeat;
    viết gọn */
    position: relative;
}
.text{
    position: absolute;
    font-size: 15px;
    color: white;
    bottom: 47px;
    /* để nó dính lên trên */
    /* cách 1 */
    /* left: 50%; */
    /* cách bên trái 50% */
    /* transform: translateX(-50%); */
    /* text-align: center; */
    /* cách 2 */
    width: 100%;
    text-align: center;
}

.text .text-heading{
    font-weight: 500;
    font-size: 24px;
}

.text .text-body{
    font-size: 15px;
    margin-top: 25px;
}
.content{

}

.content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* cho bên trái và phải đều là tự động -> căn giữa */
    padding: 64px 0px;
    margin-bottom: 48px;
}
/* css cho cả 2 thằng */
.content .section-heading,
.content .section-slogan{
    text-align: center;
    /* căn giữa chữ */
}
/* css cho từng thằng */
.content .section-heading{
    font-size: 30px;
    font-weight: 500;
    /* chỉnh độ dày chữ */
    letter-spacing: 5px;
    /* cho từng chữ cái cách xa nhau 5px */
}
.content .section-slogan{
    font-size: 15px;
    color: darkgray;
    font-style: italic;
    /* chỉnh kiểu chữ nghiêng */
    margin-top: 25px;
    /* tạo 1 khoảng cách bên trên 25px */
    /* margin-bottom: 30px; */
    /* tạo 1 khoảng cách bên dưới 30px */
}
.content .introduce-text{
    font-size: 15px;
    text-align: justify;
    /* căn đều cả 2 bên  */
    margin-top: 30px;
    /* tạo 1 khoảng cách bên trên 25px */
    line-height: 1.6;
    /* chỉnh độ cao của 1 dòng -> làm cho 2 dòng chữ cách nhau xa ra */
}
.content .member-list{
    margin-top: 48px;
    /* overflow: hidden; */
    /* chữa lỗi để list ôm hết con của nó */
}
/* .content .member-item{
    float: left;
    đưa 3 thằng lên cùng 1 hàng
    width: calc(100% / 3);
    chiều ngang 3 thằng cộng lại bằng 100%
    text-align: center;
    chỉnh căn giữa 2 thằng con name và img
} */
.content .member-name{
    font-size: 15px;
}
.content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.content .tour-section{
    background-color: black;
    color: white;
}
/* TICKETS */
.tickets-list{
    margin-top: 40px;
}
.tickets-list li{
    font-size: 15px;
    padding: 12px 16px;
    background-color: white;
    color: #757575;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.tickets-list .sold-out{
    font-size: 15px;
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    text-align: center;
    margin-left: 16px;
   
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    color: white;
    /* padding: 2px 7px; */
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* CITY */
.content .city-list{
    margin-top: 32px;
    /* margin: 0 -8px 48px; */
}

/*.content .city-item{
    float: left; 
    width: calc(100% / 3);
    chiều ngang 3 thằng cộng lại bằng 100%
    padding: 0 8px;
} */
.city-img{
    width: 100%;
    display: block;
}
.city-img:hover{
    opacity: 0.6;
    /* làm mờ 0.6 */
}
.city-body{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
    color: #000;
}
.city-name{
    font-size: 15px;
    font-weight: bold;
}
.city-date{
    margin-top: 15px;
    color: #757575;
}
.city-about{
    margin-top: 15px;
    line-height: 1.5;
}
.city-button{
    padding: 11px 17px;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.city-button:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

/* CONTACT */
.contact-content{
    margin-top: 48px;
}
.contact-infor{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
}
.contact-icon{
    margin-right: 16px;
}

.contact-input{
    padding: 10px;
    border: 1px solid #000;
    width: 100%;
}

.contact-me{
    margin-bottom: 8px;
}
.contact-form{
    font-size: 15px;
}
.contact-button{
    float: right;
    padding: 11px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    /* viết hoa chữ cái */
}
.contact-button:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

/* MAP */
.map-section img{
    width: 100%;
}
/* FOOTER */
.end{
    padding: 64px 16px;
    text-align: center;
}
.social{
    font-size: 24px;
}
.social a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.social a:hover{
    color: rgba(0, 0, 0, 0.3);
}

.linked{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.linked a{
    color: rgba(0, 0, 0, 0.6);
}
/* tham khảo phần modal(phủ) */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}
.modal-container {  
    width: 900px;
    max-width: calc(100% -32px);
    background-color: #fff;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    height: 130px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 14px;
    padding: 18px;
}
.modal-close:hover{
    color: #000;
    background-color: #f44336;
    cursor: pointer;
}
.ti-bag{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}
label.modal-label {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 14px;
}
input.modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 30px;
}
button.buy-tickets {
    color: #fff;
    background-color: #009686;
    font-size: 15px;
    width: 100%;
    padding: 18px;
    border: none;
    text-transform: uppercase;
}
button.buy-tickets:hover{
    color: #000;
    background-color: #f44336;
    cursor: pointer;
}
.modal-footer{
    padding: 16px;
    float: right;
}
.modal-footer a{
    color: #2196F3;
}


@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}